*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
  -webkit-touch-callout:none; /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none;/*火狐*/
  -ms-user-select:none; /*IE10*/
  user-select:none;
  -webkit-appearance: none;
  font-weight: 300;
  color: #333;
}
html,body,#app,.wrapper,.page{
  width:100%;
  height:100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top:0;
  background: #fff;/*#fafafa;*/
}
#app{
  -webkit-overflow-scrolling: touch !important;
}



.m5 {
  margin: 0.05rem
}

.m10 {
  margin: 0.10rem
}

.m15 {
  margin: 0.15rem
}

.m20 {
  margin: 0.20rem
}

.m25 {
  margin: 0.25rem
}

.m30 {
  margin: 0.30rem
}

.m35 {
  margin: 0.35rem
}

.m40 {
  margin: 0.40rem
}

.m45 {
  margin: 0.45rem
}

.m50 {
  margin: 0.50rem
}

.mt5 {
  margin-top: 0.05rem
}

.mt10 {
  margin-top: 0.10rem
}

.mt15 {
  margin-top: 0.15rem
}

.mt20 {
  margin-top: 0.20rem
}

.mt25 {
  margin-top: 0.25rem
}

.mt30 {
  margin-top: 0.30rem
}

.mt35 {
  margin-top: 0.35rem
}

.mt40 {
  margin-top: 0.40rem
}

.mt45 {
  margin-top: 0.45rem
}

.mt50 {
  margin-top: 0.50rem
}

.mt55 {
  margin-top: 0.55rem
}

.mt60 {
  margin-top: 0.60rem
}

.mt65 {
  margin-top: 0.65rem
}

.mt70 {
  margin-top: 0.70rem
}

.mt75 {
  margin-top: 0.75rem
}

.mt80 {
  margin-top: 0.80rem
}

.mt85 {
  margin-top: 0.85rem
}

.mt90 {
  margin-top: 0.90rem
}

.mt95 {
  margin-top: 0.95rem
}

.mt100 {
  margin-top: 1rem
}

.mt110 {
  margin-top: 1.1rem
}

.mt120 {
  margin-top: 1.2rem
}

.mt130 {
  margin-top: 1.3rem
}

.mt140 {
  margin-top: 1.4rem
}

.mt150 {
  margin-top: 1.5rem
}

.mb5 {
  margin-bottom: 0.05rem
}

.mb10 {
  margin-bottom: 0.10rem
}

.mb15 {
  margin-bottom: 0.15rem
}

.mb20 {
  margin-bottom: 0.20rem
}

.mb25 {
  margin-bottom: 0.25rem
}

.mb30 {
  margin-bottom: 0.30rem
}

.mb35 {
  margin-bottom: 0.35rem
}

.mb40 {
  margin-bottom: 0.40rem
}

.mb45 {
  margin-bottom: 0.45rem
}

.mb50 {
  margin-bottom: 0.50rem
}

.mb55 {
  margin-bottom: 0.55rem
}

.mb60 {
  margin-bottom: 0.60rem
}

.mb65 {
  margin-bottom: 0.65rem
}

.mb70 {
  margin-bottom: 0.70rem
}

.mb75 {
  margin-bottom: 0.75rem
}

.mb80 {
  margin-bottom: 0.80rem
}

.mb85 {
  margin-bottom: 0.85rem
}

.mb90 {
  margin-bottom: 0.90rem
}

.mb95 {
  margin-bottom: 0.95rem
}

.mb100 {
  margin-bottom: 1rem
}

.mb110 {
  margin-bottom: 1.1rem
}

.mb120 {
  margin-bottom: 1.2rem
}

.mb130 {
  margin-bottom: 1.3rem
}

.mb140 {
  margin-bottom: 1.4rem
}

.mb150 {
  margin-bottom: 1.5rem
}

.ml5 {
  margin-left: 0.05rem;
}

.ml10 {
  margin-left: 0.10rem;
}

.ml15 {
  margin-left: 0.15rem;
}

.ml20 {
  margin-left: 0.20rem;
}

.ml25 {
  margin-left: 0.25rem;
}

.ml30 {
  margin-left: 0.30rem;
}

.ml35 {
  margin-left: 0.35rem;
}

.ml40 {
  margin-left: 0.40rem;
}

.ml45 {
  margin-left: 0.45rem;
}

.ml50 {
  margin-left: 0.50rem;
}

.ml55 {
  margin-left: 0.55rem;
}

.ml60 {
  margin-left: 0.60rem;
}

.ml65 {
  margin-left: 0.65rem;
}

.ml70 {
  margin-left: 0.70rem;
}

.ml75 {
  margin-left: 0.75rem;
}

.ml80 {
  margin-left: 0.80rem;
}

.ml85 {
  margin-left: 0.85rem;
}

.ml90 {
  margin-left: 0.90rem;
}

.ml95 {
  margin-left: 0.95rem;
}

.ml100 {
  margin-left: 1rem;
}

.ml110 {
  margin-left: 1.1rem;
}

.ml120 {
  margin-left: 1.2rem;
}

.ml130 {
  margin-left: 1.3rem;
}

.ml140 {
  margin-left: 1.4rem;
}

.ml150 {
  margin-left: 1.5rem;
}

.mr5 {
  margin-right: 0.05rem;
}

.mr10 {
  margin-right: 0.10rem;
}

.mr15 {
  margin-right: 0.15rem;
}

.mr20 {
  margin-right: 0.20rem;
}

.mr25 {
  margin-right: 0.25rem;
}

.mr30 {
  margin-right: 0.30rem;
}

.mr35 {
  margin-right: 0.35rem;
}

.mr40 {
  margin-right: 0.40rem;
}

.mr45 {
  margin-right: 0.45rem;
}

.mr50 {
  margin-right: 0.50rem;
}

.mr55 {
  margin-right: 0.55rem;
}

.mr60 {
  margin-right: 0.60rem;
}

.mr65 {
  margin-right: 0.65rem;
}

.mr70 {
  margin-right: 0.70rem;
}

.mr75 {
  margin-right: 0.75rem;
}

.mr80 {
  margin-right: 0.80rem;
}

.mr85 {
  margin-right: 0.85rem;
}

.mr90 {
  margin-right: 0.90rem;
}

.mr95 {
  margin-right: 0.95rem;
}

.mr100 {
  margin-right: 1rem;
}

.mr110 {
  margin-right: 1.1rem;
}

.mr120 {
  margin-right: 1.2rem;
}

.mr130 {
  margin-right: 1.3rem;
}

.mr140 {
  margin-right: 1.4rem;
}

.mr150 {
  margin-right: 1.5rem;
}


.p5 {
  padding: 0.05rem
}

.p10 {
  padding: 0.10rem
}

.p15 {
  padding: 0.15rem
}

.p20 {
  padding: 0.20rem
}

.p25 {
  padding: 0.25rem
}

.p30 {
  padding: 0.30rem
}

.p35 {
  padding: 0.35rem
}

.p40 {
  padding: 0.40rem
}

.p45 {
  padding: 0.45rem
}

.p50 {
  padding: 0.50rem
}

.pt5 {
  padding-top: 0.05rem
}

.pt10 {
  padding-top: 0.10rem
}

.pt15 {
  padding-top: 0.15rem
}

.pt20 {
  padding-top: 0.20rem
}

.pt25 {
  padding-top: 0.25rem
}

.pt30 {
  padding-top: 0.30rem
}

.pt35 {
  padding-top: 0.35rem
}

.pt40 {
  padding-top: 0.40rem
}

.pt45 {
  padding-top: 0.45rem
}

.pt50 {
  padding-top: 0.50rem
}

.pt55 {
  padding-top: 0.55rem
}

.pt60 {
  padding-top: 0.60rem
}

.pt65 {
  padding-top: 0.65rem
}

.pt70 {
  padding-top: 0.70rem
}

.pt75 {
  padding-top: 0.75rem
}

.pt80 {
  padding-top: 0.80rem
}

.pt85 {
  padding-top: 0.85rem
}

.pt90 {
  padding-top: 0.90rem
}

.pt95 {
  padding-top: 0.95rem
}

.pt100 {
  padding-top: 1rem
}

.pt110 {
  padding-top: 1.1rem
}

.pt120 {
  padding-top: 1.2rem
}

.pt130 {
  padding-top: 1.3rem
}

.pt140 {
  padding-top: 1.4rem
}

.pt150 {
  padding-top: 1.5rem
}

.pb0 {
  padding-bottom: 0rem
}

.pb5 {
  padding-bottom: 0.05rem
}

.pb10 {
  padding-bottom: 0.10rem
}

.pb15 {
  padding-bottom: 0.15rem
}

.pb20 {
  padding-bottom: 0.20rem
}

.pb25 {
  padding-bottom: 0.25rem
}

.pb30 {
  padding-bottom: 0.30rem
}

.pb35 {
  padding-bottom: 0.35rem
}

.pb40 {
  padding-bottom: 0.40rem
}

.pb45 {
  padding-bottom: 0.45rem
}

.pb50 {
  padding-bottom: 0.50rem
}

.pb55 {
  padding-bottom: 0.55rem
}

.pb60 {
  padding-bottom: 0.60rem
}

.pb65 {
  padding-bottom: 0.65rem
}

.pb70 {
  padding-bottom: 0.70rem
}

.pb75 {
  padding-bottom: 0.75rem
}

.pb80 {
  padding-bottom: 0.80rem
}

.pb85 {
  padding-bottom: 0.85rem
}

.pb90 {
  padding-bottom: 0.90rem
}

.pb95 {
  padding-bottom: 0.95rem
}

.pb100 {
  padding-bottom: 1rem
}

.pb110 {
  padding-bottom: 1.1rem
}

.pb120 {
  padding-bottom: 1.2rem
}

.pb130 {
  padding-bottom: 1.3rem
}

.pb140 {
  padding-bottom: 1.4rem
}

.pb150 {
  padding-bottom: 1.5rem
}

.pl5 {
  padding-left: 0.05rem;
}

.pl10 {
  padding-left: 0.10rem;
}

.pl15 {
  padding-left: 0.15rem;
}

.pl20 {
  padding-left: 0.20rem;
}

.pl25 {
  padding-left: 0.25rem;
}

.pl30 {
  padding-left: 0.30rem;
}

.pl35 {
  padding-left: 0.35rem;
}

.pl40 {
  padding-left: 0.40rem;
}

.pl45 {
  padding-left: 0.45rem;
}

.pl50 {
  padding-left: 0.50rem;
}

.pl55 {
  padding-left: 0.55rem;
}

.pl60 {
  padding-left: 0.60rem;
}

.pl65 {
  padding-left: 0.65rem;
}

.pl70 {
  padding-left: 0.70rem;
}

.pl75 {
  padding-left: 0.75rem;
}

.pl80 {
  padding-left: 0.80rem;
}

.pl85 {
  padding-left: 0.85rem;
}

.pl90 {
  padding-left: 0.90rem;
}

.pl95 {
  padding-left: 0.95rem;
}

.pl100 {
  padding-left: 1rem;
}

.pl110 {
  padding-left: 1.1rem;
}

.pl120 {
  padding-left: 1.2rem;
}

.pl130 {
  padding-left: 1.3rem;
}

.pl140 {
  padding-left: 1.4rem;
}

.pl150 {
  padding-left: 1.5rem;
}

.pr5 {
  padding-right: 0.05rem;
}

.pr10 {
  padding-right: 0.10rem;
}

.pr15 {
  padding-right: 0.15rem;
}

.pr20 {
  padding-right: 0.20rem;
}

.pr25 {
  padding-right: 0.25rem;
}

.pr30 {
  padding-right: 0.30rem;
}

.pr35 {
  padding-right: 0.35rem;
}

.pr40 {
  padding-right: 0.40rem;
}

.pr45 {
  padding-right: 0.45rem;
}

.pr50 {
  padding-right: 0.50rem;
}

.pr55 {
  padding-right: 0.55rem;
}

.pr60 {
  padding-right: 0.60rem;
}

.pr65 {
  padding-right: 0.65rem;
}

.pr70 {
  padding-right: 0.70rem;
}

.pr75 {
  padding-right: 0.75rem;
}

.pr80 {
  padding-right: 0.80rem;
}

.pr85 {
  padding-right: 0.85rem;
}

.pr90 {
  padding-right: 0.90rem;
}

.pr95 {
  padding-right: 0.95rem;
}

.pr100 {
  padding-right: 1rem;
}

.pr110 {
  padding-right: 1.1rem;
}

.pr120 {
  padding-right: 1.2rem;
}

.pr130 {
  padding-right: 1.3rem;
}

.pr140 {
  padding-right: 1.4rem;
}

.pr150 {
  padding-right: 1.5rem;
}

/*=========================================*/
/*Position and Attribute */
/*=========================================*/
.f-cb:after,
.f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}

.f-cb,
.f-cbli li {
  zoom: 1;
}

.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.f-dn {
  display: none;
}

.f-db {
  display: block;
}

.f-fl {
  float: left;
}

.f-fr {
  float: right;
}

.f-pr {
  position: relative;
}

.f-prz {
  position: relative;
  zoom: 1;
}

.f-oh {
  overflow: hidden;
}

.f-fs1 {
  font-size: 12px;
}

.f-fs2 {
  font-size: 14px;
}

.f-fwn {
  font-weight: normal;
}

.f-fwb {
  font-weight: bold;
}

.f-tal {
  text-align: left;
}

.f-tac {
  text-align: center;
}

.f-tar {
  text-align: right;
}

.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}






.page .page-content{
  position: absolute;
  top: 44px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: auto;

  font-size: .26rem;
  background: -webkit-linear-gradient(#273e67, #3e94df); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#273e67, #3e94df); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#273e67, #3e94df); /* Firefox 3.6 - 15 */
  background: linear-gradient(#273e67, #3e94df); /* 标准的语法（必须放在最后） */
}
.backBtn {
  width: .2rem!important;
  height: 44px!important;
  background: url(../images/back.png) no-repeat center center!important;
  background-size: 100%!important;
  display: inline-block!important;
  top: 0;
  left: .3rem;
}
.moreBtn{
  visibility: hidden;
  width: 1rem!important;
  height: 44px!important;
  background: url(../images/more.jpg) no-repeat center center!important;
  background-size: .45rem!important;
  display: inline-block!important;
  float: right;
}
.screeningBtn{
  width: 1rem!important;
  height: 44px!important;
  background: url(../images/screening.jpg) no-repeat center center!important;
  background-size: .4rem!important;
  display: inline-block!important;
  float: right;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.pt30{
  padding-top: .3rem!important;
}
.statistical{
  img{
    width: 100%;
    max-width: 100%;
  }
}
.upBtn{
  background: url(../images/up.png) no-repeat right center;
  background-size: .35rem;
}
.downBtn{
  background: url(../images/down.png) no-repeat right center;
  background-size: .35rem;
}
.play_downBtn{
  background: url(../images/play_down.png) no-repeat right center;
  background-size: .35rem;
  padding-right: .4rem;
}
.mint-search{
  height: auto!important;
}
.mint-searchbar{
  background-color: #3e5984!important;
  padding: .33rem!important;
  .mint-searchbar-inner,.mint-searchbar-core{
    padding: 0 .3rem;
    height: .8rem;
    border-radius: .8rem;
    font-size: .28rem;
    .mintui-search{
      font-size: .35rem;
    }
  }
  .mint-searchbar-core{
    padding: 0 .1rem;
  }
  .mint-searchbar-cancel{
    display: none;
  }
}
input[type=search]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  position: relative;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: url(../images/close.png) no-repeat right center;
  background-size: .36rem;
}
.mint-search-list{
  padding-top: 1.5rem!important;
}
.mint-popup{
  width: 100%!important;
  height: 5rem;
  .btns{
    height: .9rem;
    line-height: .9rem;
    font-size: 0.3rem;
    border-bottom: 1px solid #ddd;
    p{
      text-align: center;
      float: left;
      width: 1.5rem;
    }
    .confirm{
      float: right;
    }
  }
}

.mobile-android {
  .bar-header{
    height: 68px!important;
    .buttons,.title{
      top: 24px!important;
    }
  }
  .topTabs{
    top: 68px!important;
  }
  .page .page-content{
    top: 68px!important;
  }
  .page .page-content.noNavigation{
    top: 0!important;
  }
  .header-hidden .page-content{
    top: 0!important;
  }
}
.mobile-ios{
  .bar-header{
    height: 64px!important;
    .buttons,.title{
      top: 20px!important;
    }
  }
  .topTabs{
    top: 64px!important;
  }
  .page .page-content{
    top: 64px!important;
  }
  .page .page-content.noNavigation{
    top: 0!important;
  }
  .header-hidden .page-content{
    top: 0!important;
  }
}
/*iphone 10 */
.mobile-iPhone10{
  .bar-header{
    height: 88px!important;
    .buttons,.title{
      /*top: 20px!important;*/
      top: 44px!important;
    }
  }
  .topTabs{
    top: 88px!important;
  }
  .page .page-content{
    top: 88px!important;
    /*bottom:30px!important;*/
  }
  .page .page-content.noNavigation{
    top: 0!important;
  }
  .header-hidden .page-content{
    top: 0!important;
  }
}
.el-date-picker{
  width: 286px !important;
}
.el-picker-panel__content{
  margin: 0 !important;
}
.el-input--prefix .el-input__inner {
  padding-left: 27px;
}

.el-input--suffix .el-input__inner {
  padding-right: 18px;
}
.mint-toast .mint-toast-text{
  color: #fff !important;
}
